.form-frame {
    display: flex;
    flex-direction: column;
    margin: 2rem 13rem;
    padding: 2rem 5rem 4rem 5rem;
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--clr-gray-secondary);
}

h2 {
    display: flex;
    font-size: 1.25rem;
    color: var(--fnt-clr-secondary);
    margin: 1rem 0;
}

label {
    display: flex;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--fnt-clr-secondary);
    margin: 0.5rem 0;
}

input[type="text"],
textarea {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 0.75rem;
    margin: 5px 0 15px 0;
    border: 2px solid;
    border-color: var(--clr-gray-secondary);
    border-radius: 8px;
    font-size: 0.75rem;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}

input[type="date"] {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 0.75rem;
    margin: 5px 0 15px 0;
    border: 2px solid;
    border-color: var(--clr-gray-secondary);
    border-radius: 8px;
    font-size: 0.75rem;
    box-sizing: border-box;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--clr-gray-secondary);
}


input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus {
    border-color: var(--clr-yellow-primary);
    outline: none;
    z-index: 1;
}

.proponents-row {
    width: 100%;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.proponents-row .firstName,
.proponents-row .lastName,
.proponents-row .middleName {
    flex: auto;
}

.proponents-row .suffix {
    display: flex;
    align-items: center;
    flex: 1.5;
    flex-flow: 1;
}

.proponents-row .suffix button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
}

.add-button {
    display: flex;
    padding: 0.3rem 0.8rem;
    background-color: var(--clr-yellow-primary);
    border: none;
    border-radius: 6px;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.add-button:hover {
    background-color: var(--clr-gray-secondary);
}

.add-button span {
    color: white;
    font-weight: 550;
    font-size: 0.75rem;
}

.date-key-row {
    width: 100%;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.Add-datePublished {
    flex: auto;
}

.Add-keywords {
    flex: 5;
}

.Abstract textarea {
    display: flex;
    color: var(--fnt-clr-secondary);
    background-color: transparent;
    box-sizing: border-box;
    height: 15rem;
    resize: none;
}

.files-row {
    width: 100%;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.files-row .frontPage {
    flex: 5;
}

.files-row .Manuscript {
    flex: 5;
}

.drop-area {
    height: 10rem;
    border: 2px dashed var(--clr-gray-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: border-color 0.3s;
}

.drop-area span {
    text-align: center;
    margin: 0.5rem;
}

.drop-area:hover {
    border-color: var(--clr-yellow-primary);
}

.file-preview {
    max-width: 50px;
    margin-bottom: 10px;
}

.file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}

.file-name {
    color: var(--fnt-clr-secondary);
}

.file-browse-btn{
    background-color: var(--clr-yellow-primary);
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.file-replace-btn {
    background-color: transparent;
    border: 2px solid;
    border-color: var(--fnt-clr-secondary);
    padding: 0.2rem 1rem;
    border-radius: 6px;
    color: var(--fnt-clr-secondary);
    cursor: pointer;
    font-weight: bold;
}