<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymBro - Bookmarks</title>
    <link rel="stylesheet" href="../../public/css/bookmarks_styles.css">
</head>
<body>
    <div class="container">
        <!-- logo -->
        <div class="logo">
            <img src="../../public/images/violet_logo.png" alt="GymBro_logo">
        </div>
        
        <!-- main layout -->
        <div class="layout">
            <!-- sidebar -->
            <nav class="SideBar">         
                <ul class="navlinks">
                    <li>
                        <a href="../YourGym/urgym.html" class="active">
                            <img src="../../public/images/urgym.png" alt="Your Gyms" class="nav-icon">
                            Your Gyms
                        </a>
                    </li>
                    <li>
                        <a href="../bookmarks/bookmarks.html" class="active">
                            <img src="../../public/images/bookmark.png" alt="Bookmarks" class="nav-icon">
                            Bookmarks
                        </a>
                    </li>
                    <li>
                        <a href="../insights/insights.html">
                            <img src="../../public/images/insight.png" alt="Insights" class="nav-icon">
                            Insights
                        </a>
                    </li>
                    <li>
                        <a href="../customers/customers-page.html">
                            <img src="../../public/images/customers.png" alt="Customers" class="nav-icon">
                            Customers
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../public/images/logout.png" alt="Logout" class="nav-icon">
                            Logout
                        </a>
                    </li>
                </ul>            

                <div class="userinfo">
                    <a href="profile.html" class="userAcc">
                        <img src="../../public/images/useravatar.png" alt="User Profile" class="user-avatar">
                        <span>Juan Dela Cruz</span>
                    </a>
                </div>
            </nav>

            <!-- main content -->
            <div class="main-content" id="mainContent">
                <!-- top part of the main content -->
                <div class="top-part">
                    <h1>Bookmarks</h1>
                    <div class="search-bar">
                        <input type="text" placeholder="Search here">
                    </div>
                </div>
                
                <!-- example gyms and branches -->
                <div class="gym-and-branches">
                    <!-- example gyms -->
                   
                    
                    <div class="gym-box"></div>
                        <!-- top part of the gym -->
                        <div class="gyms-top-part">
                            <span class="gym-name">Anytime Fitness</span>
                            <button class="add-branch-btn"> 
                                <img src="../../public/images/violet/plusIcon-violet.png" alt="add-branch-icon" class="add-icon"> 
                                Add Branch
                            </button>
                            <a href="#">
                                <img src="../../public/images/editIcon.png" alt="edit-icon" class="edit-icon">
                            </a>
                        </div>
                        
                         <!-- example branches -->
                        <div class="branch-list">

                            <div class="branch-item">
                                <div class="gym-img">
                                    <img src="../../public/images/places/diversion.png" alt="Gym Image">
                                </div>
                                <div class="branch-details">
                                    <span class="branch-location">Diversion M Plaza,  Naga</span>
                                    <span class="branch-name">Anytime Fitness</span>
                                </div>
                                <div class="branch-actions">
                                    <div class="top-actions">
                                        <img src="../../public/images/violet/insight-violet.png" alt="insight-icon" class="action-icon">
                                        <img src="../../public/images/violet/bookmark-violet-filled.png" alt="bookmark-icon" class="action-icon">
                                    </div>
                                    <button class="view-logs">
                                        View Logs
                                        <img src="../../public/images/violet/arrow-right.png" alt="view-logs">
                                    </button>
                                </div>
                            </div>
                            <!-- add example branches here -->

                        </div>                                               
                    </div>
                    
                </div> 
            </div> 
        </div>
    </div>

    <!-- <script src="../../public/javascript/dynamicContent.js"></script> -->
</body>
</html>
