<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymBro Login</title>
    <link rel="stylesheet" href="../../public/css/LS_styles.css">
</head>
<body>
    <div class="container">
        <div class="login-form">
            <div class="logo">
                <img src="../../public/images/LS_logo.png" alt="GymBro Logo">
            </div>
            <h1>Log in to your Account</h1>
            <form>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Password" required>
                <button type="submit" onclick="window.location.href='../YourGym/urgym.html';">Log in</button>
            </form>
            <p>Don't have an account? <a href="signup.html">Create an account</a></p>
        </div>

        <div class="welcome-section">
            <div class="overlay"></div>
            <div class="welcome-message">
                <h3>Welcome back!</h3>
                <img src="../../public/images/welcomeLogo.png" alt="GymBro Logo">
                <p>Empower Your Fitness Journey</p>
        </div>
</body>
</html>