<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymBro Registration</title>
    <link rel="stylesheet" href="../../public/css/LS_styles.css">
</head>
<body>
    <div class="container">
        <!-- Left Side - Login Form -->
        <div class="login-form">
            <div class="logo">
                <img src="../../public/images/LS_logo.png" alt="GymBro Logo">
            </div>
            <h2>Welcome to GymBro!</h2>
            <h5>Register your account</h5>
            
            <form>
                <input type="text" name="firstname" placeholder="First Name" required>
                <input type="text" name="lastname" placeholder="Last Name" required>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Password" required>
                <input type="password" name="confirmation" placeholder="Confirm Password" required>
                <button type="submit">Create Account</button>
            </form>
            <p>Already have an account? <a href="login.html">Log In</a></p>
        </div>
        <!-- Right side -->
        <div class="welcome-section">
            <div class="overlay"></div>
            <div class="welcome-message">
                <h3>Welcome!</h3>
                <img src="../../public/images/welcomeLogo.png" alt="GymBro Logo">
                <p>Empower Your Fitness Journey</p>
        </div>
</body>
</html>